nav
  ul.nav-list
    li.nav-li
      .nav-item.red
        img(src="../../assets/icons/gift.png", alt="Para presente" class="nav-icon")
      p.nav-label Para presente
    li.nav-li
      .nav-item.blue
        img(src="../../assets/icons/categories.png", alt="Categorias" class="nav-icon")
      p.nav-label Categorias
    li.nav-li
      .nav-item.yellow
        img(src="../../assets/icons/tax.png", alt="Descontos e promoções" class="nav-icon")
      p.nav-label Descontos e promoções
    li.nav-li
      .nav-item.rose
        img(src="../../assets/icons/message.png", alt="Central de ajuda" class="nav-icon")
      p.nav-label Central de ajuda
