.offer-board
    img(src="../../assets/vectors/points1.png" class="points-1")
    img(src="../../assets/vectors/points2.png" class="points-2")
    img(src="../../assets/vectors/waves.png" class="waves")
    .box-offer
        p.upper-label-offer Promoção
        .inner-box-offer
            p.offer-label-left cupom
            p.offer-label-center 5%
            p.offer-label-right off
        p.upper-label-offer em todo site!